@font-face {
  font-family: 'bookmania-light';
  src: url('/Fonts/Demo_Fonts/Fontspring-DEMO-bookmania-light.otf');
}

@font-face {
  font-family: 'bookmania-Semibold';
  src: url('/Fonts/Demo_Fonts/Fontspring-DEMO-bookmania-semibold.otf');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('/Fonts/static/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/Fonts/static/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('/Fonts/static/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('/Fonts/static/Montserrat-Light.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: red 1px solid;*/
    }

    body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: rgb(255, 255, 255);
    }

    .header {
      position: fixed; 
      top: 0;
      left: 0;
      width: 100%;
      background-color: transparent;
      padding-left: 40px;
      display: flex;
      align-items: center;
      z-index: 100;
      transition: background-color 0.3s ease;
      margin-bottom: calc(0px + 20px); 
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: background-color 0.3s ease;
  }
  

  .header.scrolled {
    background-color: beige; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
    color: black;
  }

  .header.scrolled .logo,
  .header.scrolled .navbar a,
  .header.scrolled .dropdown .dropbtn,
  .header.scrolled .dropdown-content a,
  .header.scrolled .icons .ri-user-line,
  .header.scrolled .icons .ri-search-line,
  .header.scrolled .icons .ri-shopping-cart-line {
    color: black;
  }
  

.header.scrolled .logo,
.header.scrolled .navbar a,
.header.scrolled .dropdown .dropbtn,
.header.scrolled .dropdown-content a,
.header.scrolled .icons .ri-user-line,
.header.scrolled .icons .ri-search-2-line,
.header.scrolled .icons .ri-shopping-bag-line {
  color: black;
}

    
    .header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: transparent;
      transition: background-color 0.3s ease;
  }
  
    .header:hover::before {
      background-color: beige ;
      box-shadow: 0 5px 10px rgba(0,0,0,0.10);
    }

    .header:hover .logo,
    .header:hover .navbar a,
    .header:hover .dropdown .dropbtn,
    .header:hover .dropdown-content a,
    .header:hover .icons li {
      color: black;
      
    }

    .header .navbar li:hover,
    .header .dropdown:hover{
      background-color: #5E6F86; 
    }
  
    .header .navbar li:hover a,
    .header .dropdown:hover .dropbtn,
    .header a:hover {
        color: rgb(255, 255, 255); 
    }



    .logo {
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    margin-right: 30px;
    color: rgb(255, 255, 255);
    font-family: 'bookmania-light';
    letter-spacing: 8px;
    }
    

    .navbar {
    margin-right: 500px;
    }

    .navbar .bar{
      padding: none;
      margin: none;
    }


    .navbar .bar li {
    list-style: none;
    display: inline-flex;  
    margin: none;
    transition: background-color 0.2s ease;
    }

    .navbar .bar li a{
    font-size: 12px;
    text-decoration: none;
    display: block;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    cursor: pointer
    }


    .dropdown {
        display: inline-block;
        padding-top: 48px;
        padding-bottom: 29px;
        padding-right: 10px;
        padding-left: 10px;
      }
      
      .dropdown .dropbtn {
        font-size: 12px;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
      }
      
      
      .dropdown-content {
        margin-top: 28px;
        margin-left: 10px;
        display: none;
        position: absolute;
        background-color:rgb(199, 126, 31);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-top: 5px solid #5E6F86;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;
        font-size: 10px;
        transition: background-color 0.1s ease;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
        background-color: rgb(243, 234, 234);
      }

      .dropdown:hover .dropdown-content a:hover{
        background-color: #5E6F86;
        color: white;
        font-weight: lighter;
      }
    
  
  .header .icons li {
      list-style: none;
      display: inline-block;
      margin: 10px;  
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 20px;
      text-decoration: none;
      position: relative;
    }

    .header:hover .icons li:hover {
      color: #5E6F86;
    }

    .header .icons .ri-user-line {
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 2px;
  }

  .header:hover .icons .ri-user-line {
    color: black;
}
  
  .header .icons .icon {
      display: inline-block;
      color: rgb(255, 255, 255);
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 20px;
      text-decoration: none;
      margin: none;
      padding: none;
  }
  
  .header .icons .icon-link:hover .icon {
      color: #5E6F86;
  }
  

  .popup-shoppingcart {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 450px;
    height: 100%; 
    background-color: #5E6F86;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    overflow-y: auto; 
    transition: right 0.3s ease; 
    padding: 20px;
  }
  
  .popup-shoppingcart.active {
    right: 0;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat-ExtraBold';
    letter-spacing: 3px;
    margin-bottom: 10px;

  }
  
  .popup-header h2 {
    margin: 0;
    color: beige;
  }
  
  .popup-close {
    font-size: 24px;
    color: beige;
    cursor: pointer;
  }
  
          .shopcart-products {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
          }
          
          .shopcart-products td {
            padding: 10px;
            border: 1px solid #ddd;
          }
          
          .shopcart-products img {
            width: 50px;
          }
          
          .shopcart-products p {
            margin: 0;
            font-family: 'Montserrat-bold';
            font-size: 10px;
            color: beige;
          }
          
          .shopcart-products button {
            font-family: 'Montserrat-ExtraBold';
            font-size: 14px;
            border: solid 1px;
            cursor: pointer;
            width: 100px;
            color: #5E6F86;
            border: solid 1px beige;
          }
          .shopcart-products button:active {
            color: beige;
            background-color: #5E6F86;
          }



              


  .content-1{
    position: relative;
    background-color: beige ;
  }

  .content-1 video{
    width: 100%;
    max-width: 100%;
    height: auto;
    filter: brightness(40%); 
  } 

  .content-1 strong{
    color: beige;
  } 

  .content-1 p{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: white; 
    background-color: rgba(245, 245, 220, 0.247);
    text-align: center; 
    padding: 20px; 
    width: 80%; 
    max-width: 9000px; 
    line-height: 3;
    font-family: 'Montserrat-Regular';
  } 
    
  
    .products{
      background-color: beige;
    }
     
  
      #price{
        font-family: 'Montserrat-ExtraBold';
        font-size: 12px;
        letter-spacing: 1px;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #5E6F86;
      }
    
      .products h1{
       text-align: center;
       margin-bottom: 20px;
       background-color: #5E6F86;
       color: beige;
       padding: 20px;
       font-size: 80px;
       font-family: 'Montserrat-ExtraBold';
       font-weight: 900;
       letter-spacing: 10px;
       text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

      }

      
        .bgfont:hover {
          @supports (background-clip: text) or (-webkit-background-clip: text) {
            background-image: url("/Background/bg7.jpg");
            background-size: 50% auto;
            background-position: center;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
            transition: all 0.5s ease;
          }
        }

        .products div {
          text-align: center;
          display: inline-block;
          margin-bottom: 50px;
          margin-left: 85px;
          position: relative; 
          transition: opacity 0.3s ease;
        }
        
        .products div:hover::after {
          content: "Sale";
          font-family: 'Montserrat-Regular';
          letter-spacing: 5px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color:red; 
          color: white; 
          padding: 5px 10px;
          border-radius: 5px;
          opacity: 1;
        }
        
        .products a {
          font-family: 'Montserrat-Regular';
          font-size: 12px;
          letter-spacing: 1px;
          text-decoration: none;
          font-weight: 1000;
          color: black;
        }
        
        .products img {
          height: 300px;
          width: 230px;
          margin-bottom: 10px;
        }

      .content-2{
        padding-top: 50px;
        padding-bottom: 50px;
        background-color:#5E6F86;
        width: 100%;
        height: auto;
        text-align: center;
      
      }

      .content-2 p{
        font-size: 18px;
        padding-bottom: 100px;
        color: beige;
        font-family: 'Montserrat-Regular';
        line-height: 2;
        letter-spacing: 2px;
      }

      .content-2 .image-container{
        display: inline;
      }
      .image-container img{
        width: 150px;
        filter: brightness(70%);
        transition: filter .20s;
        cursor: pointer;
        margin-right: 20px;
        margin-left: 20px;
      }
        #carhartt{
          margin-bottom: 35px;
        }
        #rusell{
          margin-bottom: 0px;
        }
        #dickies{
          margin-bottom: 30px;
          margin-right: 20px;
        }
        #hm{
          margin-bottom: 20px;
        }

     .image-container img:hover{
        width: 150px;
        filter: brightness(100%);
      }



  .footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: beige;
    color: #000000;
    padding: 20px;
    text-align: center;
    border-top: 5px solid #5E6F86;

  }

  
    .footer-content {
      display: flex;
      align-items: center;
      max-width: 1200px;
      margin: 0; 
    }

    .footer-section-1{
      margin: 50px 0px 0px 50px;
      font-size: 12px;
      font-family: 'Montserrat-Light';
    }

    .footer form{
      display: flex;
      align-items: center;
      margin-bottom: 50px;
    }

    .footer form input{
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 80%;
      margin: 11px 5px 11px 0px;
      transition: border-color 0.3s ease;
    }
    .footer form input:focus{
      border: .5px solid #000000;
      outline: none;
    }

    .footer form button{
      border: 0px solid #ccc;
      border-radius: 5px;
      padding: 11px 10px 11px 10px;
      background-color: #5E6F86;
      color: white;
      font-family: 'Montserrat-Light';
      letter-spacing: 2px;
      transition: transform 0.3s ease;
    }
    .footer form button:active{
      transform: scale(0.95); 
    }

    .footer-section-2{
      margin: 50px 0px 100px 100px;
      font-size: 12px;
    }

    .footer-section-2 a{
      text-decoration: none;
      color: #5E6F86;
      font-size: 50px;
      font-family: 'bookmania-light';
      letter-spacing: 4px;
    }
    .footer-section-2 p{
      text-align: center;
      font-size: 12px;
      font-family: 'Montserrat-Light';
      line-height: 1.5;
    }

    .footer-section-3{
      margin: 0px 0px 0px 100px;
      font-size: 12px;
    }

    .footer-section-3  i{
      font-size: 20px;
      color: grey;
      cursor: pointer;
      letter-spacing: 10px;
      transition: color 0.2s ease, font-weight 0.2s ease;
    }

    .footer-section-3 i:hover{
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
    .footer-section-3 p{
      font-size: 12px;
      font-family: 'Montserrat-Light';
      color: grey;
      line-height: 3;
      cursor: pointer;
      letter-spacing: 1px;
      transition: color 0.2s ease, font-weight 0.2s ease;
    }

    .footer-section-3 p:hover{
      font-weight: bold;
      color: rgb(0, 0, 0);
    }
  

    .footer-bottom {
      margin: none;
      text-align: center;
      font-size: 10px;
      margin-left: 50px;
      margin-bottom: 30px;
      font-family: 'Montserrat-Light';
    }